apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: student-card
  namespace: sorivma
  labels:
    release: kps
spec:
  selector:
    matchLabels:
      app: student-app
    endpoints:
      - port: http
        path: /actuator/prometheus
        interval: 15s
        scrapeTimeout: 10s